<h2>Świniobicie</h2>
<h3>Uczestnicy</h3>
<p><%= link_to "Dodaj świniobijcę", new_attempt_path %></p>
<p><%= link_to "Zobacz listę świniobijców", attempts_path %></p>
<h3>Sezony</h3>
<p><%= link_to "Dodaj sezon świniobicia", new_season_path %></p>
<p><%= link_to "Lista sezonów świniobicia", seasons_list_path %></p>
<h2>Strona</h2>