<div class="wrapper">
  <div class="col-md-10 col-centered">
    <%= form_for @attempt do |f| %>
      <h1>Przycinanie zdjęcia</h1>
      <%= f.cropbox :avatar, :width => 500 %>
      <h2>Podgląd</h2>
      <%= f.crop_preview :avatar, :width => 150 %>
      <%= f.submit 'Przytnij zdjęcie', class: "btn btn-primary top30"%>
    <% end %>
  </div>
</div>