<% content_for :stylesheet %>
  <%= javascript_include_tag 'bootstrap-filestyle', 'data-turbolinks-track' => true %>
<% end %>
<div class="wrapper">
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= (I18n.translate 'alerts.info.info_about_time').html_safe %>
  </div>
  <%= render 'form' %>
</div>